html {
  scroll-behavior: smooth;
}
#backToTop{
    display: none;
    /*display: block;*/
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #ff6333;
    bottom: 30px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    opacity: .8;
}
#itemsShow a{
    text-decoration: none;
}
.del {
    color:#9c0a00;
}
.del:hover {
    color:red;
    font-size: 17px;
}
#suc{
    color: green;
}
#fai{
    color:red;
}
